<?xml version="1.0" ?>
<!--
  - morenaments conformal - Hyperbolization of ornaments
  -                         via discrete conformal maps
  - Copyright (C) 2009-2010 Martin von Gagern
  -
  - This program is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License as published by
  - the Free Software Foundation, either version 3 of the License, or
  - (at your option) any later version.
  -
  - This program is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="debugfile" class="org.apache.log4j.FileAppender">
    <param name="File" value="${basedir}/target/surefire-reports/debug.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %c{2} - %m%n"/>
    </layout>
  </appender>

  <category name="net.von_gagern.martin.morenaments.conformal">
    <priority value="debug"/>
  </category>

  <root>
    <priority value="info"/>
    <appender-ref ref="debugfile"/>
  </root>

</log4j:configuration>
